<%- title 'Assignments' %>

<h2>Assignments you've made</h2>

<table>
  <tr><th></th><th colspan="2">Ordinance Assignments</th></tr>
	<tr>
		<th>Contact</th>
		<th>Incomplete</th>
		<th>Complete</th>
		<th>Total</th>
	</tr>
<% @contacts_with_assignments.each do |contact| %>
  <tr>
    <td class="person"><%= contact.full_name %></td>
    <td style="text-align:center"><%= link_to contact.assignments.incomplete.count, by_contact_incomplete_assignments_path(contact) %></td>
    <td style="text-align:center"><%= contact.assignments.complete.count %></td>
    <td style="text-align:center"><%= contact.assignments.count %></td>
  </tr>
<% end # each contact %>
</table>

